* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background: rgb(252, 241, 241) !important;
}

.navbar {
    padding: 10px 70px !important;
    background-color: rgb(252, 241, 241);
}

.active {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.788) !important;
    border-bottom: 3px solid rgba(0, 0, 0, 0.788);
}

.round_image {
    width: 400px;
    height: 470px !important;
    border-radius: 260px;
    object-fit: cover;
}

.nav-link {
    font-size: 21px !important;
    font-weight: 500;
}

#home,
#about,
#skills,
#projects {
    padding-top: 90px !important;
}

.heading {
    text-align: right;
    font-size: 52px;
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.h_para {
    margin-top: 15px;
    text-align: justify;
    color: rgb(51, 51, 51) !important;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px !important;
}


/* projects css  */
.main_div {
    height: auto;
    background-color: rgb(255, 213, 205);
    border-radius: 20px;
    padding: 35px 20px;
}

.main_div:hover {
    transition: all .3s ease-in-out;
    box-shadow: rgb(0 0 0 / 51%) 10px 10px 10px;
    background: rgb(255, 196, 204);
}

.m_top {
    margin: 100px 0 !important;
}

.main_div>div {
    height: 100%;
}


.left_div img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
}

[tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}



/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: calc(100% + 5px);
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 10px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

/* FLOW: DOWN */
[tooltip][flow1^="down"]::before {
    top: calc(100%);
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow1^="down"]::after {
    top: calc(100% + 6px);
}

[tooltip][flow1^="down"]::before,
[tooltip][flow1^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}



/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

.footer {
    width: 100%;
    background: #1A1C20;
    padding: 2px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: rgb(252, 241, 241);
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

/* utitlity classes  */
.mar_y {
    margin: 20px 0;
}

.mar_y1 {
    padding-top: 55px !important;
}

.c_btn {
    width: auto;
    height: 45px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(46, 46, 46) !important;
    font-weight: 500 !important;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 15px;
}

.btn_primary {
    border: 3px solid rgb(255, 213, 205);
}


.btn_primary:hover {
    color: white !important;
    background-color: rgb(255, 213, 205);
}


.btn_secondary {
    background-color: #333;
    border-radius: 8px;
    color: rgb(255, 213, 205) !important;
}

.btn_secondary:hover {
    color: #333 !important;
    background-color: rgb(255, 213, 205);
    border: 3px solid #333;
}

.rm_link {
    text-decoration: none !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.obj-fit {
    object-fit: contain;
}

.logos {
    padding-bottom: 30px !important;
}

.link_style {
    font-weight: 500;
    font-size: 21px;
}

.icon_div>div:not(:last-child) {
    height: 200px !important;
    display: grid;
    margin-top: 50px !important;
    place-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.social_links>div span {
    margin-left: 10px;
}

.social_links>div a {
    text-decoration: none;
}

.social_links>div a {
    display: flex;
    align-items: flex-end;
}